tp1/src/main/webapp/xml/MessageValidate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="protocol">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="method">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="request">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="player" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="argument" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="reply">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="result" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="read" type="xs:boolean" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>